@import './element.scss';
@import './common.scss';
@import './transition.scss';

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $--color-text-regular;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Inter var', sans-serif;
}

* {
    box-sizing: border-box;
}

:link,
:visited {
    text-decoration: none;
    color: $--color-text-primary;
}

ul,
ol {
    list-style: none;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
    margin: 0;
    padding: 0;
}

a img,
:link img,
:visited img {
    border: none;
}

address {
    font-style: normal;
}

.link {
    color: #188df7;
}

div,
span,
button,
i {
    outline: none;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.24);
}
